*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.header {
    min-height: 10vh;
    border: 2px solid black;
    background-color: rgb(138, 43, 226)
}

.cards-container {
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 90vh;
    padding: 50px;
    background-color: pink;
}

.card {
    height: 400px;
    width: 300px;
    border: 2px solid black;
}