@import url(https://db.onlinewebfonts.com/c/5991b969840395ce81e1a54fe6dbecd8?family=MatrixIIOT-Bold);

:root {
    --main-font: MatrixIIOT-Bold
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
    background-color: #9966CC;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: end;
    min-height: 10vh;
    padding: 20px;
    /* border: 2px solid black; */
    font-family: var(--main-font);
}

.header > h1 {
    grid-column: 2/3;
    justify-self: center;
    font-size: 3rem;
}

.score-container {
    justify-self: center;
    grid-column: 3/4;
}

.cards-container {
    display: grid;
    justify-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    min-height: 90vh;
    padding: 50px;
    /* background-color: pink; */
}

.card {
    height: 350px;
    width: 250px;
    /* border: 2px solid black; */
    cursor: pointer;
    border-radius: 10px;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}